@model BookingRoomHotel.ViewModels.StaffLoginViewModel
@{
    ViewData["Title"] = "Wellcome | Login to Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wellcome | Forgot Password</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/css/assets/img/favicon.png">
	<link rel="stylesheet" href="~/css/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/css/assets/css/feathericon.min.css">
	<link rel="stylesheet" href="~/css/assets/plugins/morris/morris.css">
	<link rel="stylesheet" href="~/css/assets/css/style.css">
</head>
<body>
	<div class="main-wrapper login-body">
		<div class="login-wrapper">
			<div class="container">
				<div class="loginbox">
					<div class="login-left"> <img class="img-fluid" src="~/images/Admin/FPT_QN.jpg" alt="Logo"> </div>
					<div class="login-right">
						<div class="login-right-wrap">
							<h1>Forgot Password?</h1>
							<p class="account-subtitle">Enter your email to get a password reset link</p>
							<form action="login.html">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Email">
								</div>
								<div class="form-group mb-0">
									<button class="btn btn-primary btn-block" type="submit">Reset Password</button>
								</div>
							</form>
							<div class="text-center dont-have">Remember your password? <a href="login.html">Login</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/css/assets/js/jquery-3.5.1.min.js"></script>
	<script src="~/css/assets/js/popper.min.js"></script>
	<script src="~/css/assets/js/bootstrap.min.js"></script>
	<script src="~/css/assets/js/script.js"></script>

</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
